
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Syne:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Syne:wght@400;500;600;700;800&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  /* background: black; */
  font-family: 'Syne', sans-serif;
    height: 100vh;

}
.App{
  background: black;
  transition: all 0.8s ease;

}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

/* NAVBAR SECTION */
@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes rightslide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes top-in {
  from {
    color: darkorange;
    transform: translatey(-100%);
  }
  to {
    transform: translatey(0%);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes drop-in {
  from {
    transform:
      rotate(-30deg) translateY(-100%);
    opacity: 0;
  }
  to {
    transform:
      rotate(0deg) translateY(0%);
    opacity: 1;
  }
} 

@media screen  and (max-width:1000px){
  body{
    height: 100vh;
  }
.quantity {
  animation: top-in 1000ms;
}

}

@import url('https://fonts.googleapis.com/css2?family=Syne:wght@600&display=swap');

/* SUBFOOTER */
.copyright{
  color: #fff;
  background: #000;
  font-size: 12px;
  padding: 25px;
  font-family:sans-serif ;
  text-align: center;
  letter-spacing: 1px;

}


.dark3{
  background: #fff4ee;
  transition:all 0.8s ease;
  color: #000;

}
.navdark{
  /* z-index: 1; */
  border-bottom: 1px solid #000000 !important;
  transition:all 0.8s ease;

}
.dark{
  color: black;
  transition:all 0.8s ease;
  /* background-color: #fff; */
}
.year1{
  -webkit-text-stroke: 2.2px #000000;
}
.see2{
  border: 2px solid black;
}

.ham1{
  z-index: 2;
}
.ham1 img{
  background: #000000;
}


